@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f1117;
  color: #d1d5db;
  overflow: hidden; /* Prevent body scroll, handle in app */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #181b21; 
}

::-webkit-scrollbar-thumb {
  background: #374151; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563; 
}

